In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
#Read the data in and remove any missing values
#Remove any row with a missing value in any of the columns.
filename='C:/Users/kdehn/OneDrive - stevens.edu/___Data/CSV_files/breast-cancer-wisconsin.csv'
nan_values=['?']
att_type={' Sample': 'str', 'Class':'category'}

df=pd.read_csv(filename,dtype=att_type,na_values=nan_values)

print(df[df.isna().any(axis=1)])

print(df.shape)
print(df.isnull().sum())
print()
df.dropna(inplace=True)

print("************* data type is float needs to be changed to int64 ******")
print(df['F6'].dtype)
 

df['F6'] = df['F6'].astype('int64')

print(f"shape : {df.shape}")
print(df.isnull().sum())
# print(df.describe())
# df.head()

      Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9 Class
23   1057013   8   4   5   1   2 NaN   7   3   1     4
40   1096800   6   6   6   9   6 NaN   7   8   1     2
139  1183246   1   1   1   1   1 NaN   2   1   1     2
145  1184840   1   1   3   1   2 NaN   2   1   1     2
158  1193683   1   1   2   1   3 NaN   1   1   1     2
164  1197510   5   1   1   1   2 NaN   3   1   1     2
235  1241232   3   1   4   1   2 NaN   3   1   1     2
249   169356   3   1   1   1   2 NaN   3   1   1     2
275   432809   3   1   3   1   2 NaN   2   1   1     2
292   563649   8   8   8   1   2 NaN   6  10   1     4
294   606140   1   1   1   1   2 NaN   2   1   1     2
297    61634   5   4   3   1   2 NaN   2   3   1     2
315   704168   4   6   5   6   7 NaN   4   9   1     2
321   733639   3   1   1   1   2 NaN   3   1   1     2
411  1238464   1   1   1   1   1 NaN   2   1   1     2
617  1057067   1   1   1   1   1 NaN   1   1   1     2
(699, 11)
Sample     0
F1         0
F2         0
F3         0
F4         0
F5         0
F6        16
F7         0
F8         0
F9         0
Class      0
dtype: int64

************* data type is float needs to be changed to int64 ******
float64
shape : (683, 11)
Sample    0
F1        0
F2        0
F3        0
F4        0
F5        0
F6        0
F7        0
F8        0
F9        0
Class     0
dtype: int64

In [ ]:
print(df.dtypes)
df.head()

In [9]:
# Splitting the dataset
attr = df.drop(columns = ['Class','Sample'])  # features
target = df['Class']  # target variable
# attr.head()
# target.head()
attr_train, attr_test, target_train,target_test  = train_test_split(attr, target,test_size = 0.25, random_state = 44, shuffle = True)
target_train.head()
# attr_train.head()
target_test.head()

579    2
529    2
596    2
90     2
347    2
Name: Class, dtype: category
Categories (2, object): ['2', '4']

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
k_values = [3, 4,5,6, 10]

for k in k_values:
    knn = KNeighborsClassifier(n_neighbors = k)
    knn.fit(attr_train, target_train)
    target_pred = knn.predict(attr_test)
#     accuracy = round(np.mean(target_test==target_pred ) * 100, 2)
    accuracy = accuracy_score(target_test,target_pred ) 
    print(f'Accuracy of model with k = {k}: {accuracy}%')
    print('')

Accuracy of model with k = 3: 0.9532163742690059%

Accuracy of model with k = 4: 0.9649122807017544%

Accuracy of model with k = 5: 0.9707602339181286%

Accuracy of model with k = 6: 0.9532163742690059%

Accuracy of model with k = 10: 0.9590643274853801%