In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [15]:
from sklearn.datasets import load_iris
iris_data = load_iris()
type(iris_data)

sklearn.utils._bunch.Bunch

In [ ]:
  
# # IMPORT THE IRIS DATA FROM THE 
# # SKLEARN MODULE
# from sklearn.datasets import load_iris
  
# # LOAD THE IRIS DATASET BY CALLING
# # THE FUNCTION
# iris_data = load_iris()
 
  
# # PLACE THE IRIS DATA IN A PANDAS
# # DATAFRAME
# attr = pd.DataFrame(data=iris_data.data, 
#                   columns=iris_data.feature_names)
# target =pd.DataFrame({'Species': iris_data.target})

# # DISPLAY FIRST 5 RECORDS OF THE 
# # DATAFRAME
# target.head()
# attr.head(10)

In [16]:
# Loading iris
df = pd.read_csv('C:/Users/kdehn/OneDrive - stevens.edu/___Data/CSV_files/iris.csv')
# df.head()
print(df.describe())
# #data preprocessing
# df['Species'] = pd.Categorical(df['Species'])  # convert Species column to categorical data type
df.head(10)

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean     58.433333   30.573333    37.580000   11.993333
std       8.280661    4.358663    17.652982    7.622377
min      43.000000   20.000000    10.000000    1.000000
25%      51.000000   28.000000    16.000000    3.000000
50%      58.000000   30.000000    43.500000   13.000000
75%      64.000000   33.000000    51.000000   18.000000
max      79.000000   44.000000    69.000000   25.000000

  Species  SepalLength  SepalWidth  PetalLength  PetalWidth
0  Setosa           50          33           14           2
1  Setosa           46          34           14           3
2  Setosa           46          36           10           2
3  Setosa           51          33           17           5
4  Setosa           55          35           13           2
5  Setosa           48          31           16           2
6  Setosa           52          34           14           2
7  Setosa           49          36           14           1
8  Setosa           44          32           13           2
9  Setosa           50          35           16           6

In [17]:
df = df.dropna() # drops NaN values 
print(df[df.isna().any(axis=1)]) # shows NaN values in data frame if it exists

# Splitting the dataset
attr = df.drop(columns = ['Species'])  # features
target = df['Species']  # target variable
# attr.head()
target.head()

Empty DataFrame
Columns: [Species, SepalLength, SepalWidth, PetalLength, PetalWidth]
Index: []

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: Species, dtype: object

In [18]:
from sklearn.preprocessing import MinMaxScaler
# Initialize MinMaxScaler
scaler = MinMaxScaler()
# Fit and transform the data
attr = pd.DataFrame(scaler.fit_transform(attr), columns=attr.columns)
attr.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0     0.194444    0.541667     0.067797    0.041667
1     0.083333    0.583333     0.067797    0.083333
2     0.083333    0.666667     0.000000    0.041667
3     0.222222    0.541667     0.118644    0.166667
4     0.333333    0.625000     0.050847    0.041667

In [19]:

attr_train, attr_test, target_train,target_test  = train_test_split(attr, target,test_size = 0.25, random_state = 3, shuffle = True)
target_train.head()
# attr_train.head()
target_test.head()

47    Setosa
3     Setosa
31    Setosa
25    Setosa
15    Setosa
Name: Species, dtype: object

In [20]:
# from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
k_values = [3, 5, 10]

for k in k_values:
    knn = KNeighborsClassifier(n_neighbors = k)
#     knn = KNeighborsClassifier(n_neighbors = k,weights='distance')
    knn.fit(attr_train, target_train)
    target_pred = knn.predict(attr_test)
#     accuracy = round(np.mean(target_test==target_pred ) * 100, 2)
    accuracy = accuracy_score(target_test,target_pred ) 
    print(f'Accuracy of model with k = {k}: {accuracy}%')
    print('')

Accuracy of model with k = 3: 0.9473684210526315%

Accuracy of model with k = 5: 0.9473684210526315%

Accuracy of model with k = 10: 0.9473684210526315%

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

cm=confusion_matrix(target_test, target_pred)

print('Confusion Matrix')
print(confusion_matrix(target_test, target_pred))
print()
print('Accuracy score')
print(accuracy_score(target_test, target_pred))
print()
print('Classification Report')
print(classification_report(target_test, target_pred))

In [ ]:
# target_pred.head()
attr_test['target_pred']=target_pred
# print(target_test)
attr_test['target_actual']= target_test
attr_test.head()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt     

ax= plt.subplot()
sns.heatmap(cm, annot=True, fmt='g', ax=ax);  #annot=True to annotate cells, ftm='g' to disable scientific notation

# labels, title and ticks
ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix'); 
ax.xaxis.set_ticklabels(['Setosa', 'Versicolor','Virginica'])
ax.yaxis.set_ticklabels(['Setosa', 'Versicolor','Virginica'])