In [6]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.datasets import load_iris
# from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler

In [7]:
# Loading iris
df = pd.read_csv('C:/Users/kdehn/OneDrive - stevens.edu/___Data/CSV_files/iris.csv')
# df.head()
# print(df.describe())
# #data preprocessing
# df['Species'] = pd.Categorical(df['Species'])  # convert Species column to categorical data type
df.head(10)
df = df.dropna() # drops NaN values 
print(df[df.isna().any(axis=1)]) # shows NaN values in data frame if it exists



# Splitting the dataset
attr = df.drop(columns = ['Species'])  # features
scaler = MinMaxScaler()
attr = pd.DataFrame(scaler.fit_transform(attr), columns=attr.columns)
attr.head()

target = df['Species']  # target variable
attr.head()
# target.head()

Empty DataFrame
Columns: [Species, SepalLength, SepalWidth, PetalLength, PetalWidth]
Index: []

   SepalLength  SepalWidth  PetalLength  PetalWidth
0     0.194444    0.541667     0.067797    0.041667
1     0.083333    0.583333     0.067797    0.083333
2     0.083333    0.666667     0.000000    0.041667
3     0.222222    0.541667     0.118644    0.166667
4     0.333333    0.625000     0.050847    0.041667

In [9]:
num_clusters = 3  # Iris dataset has three species
kmeans = KMeans(n_clusters=num_clusters, random_state=12)
kmeans.fit(attr)
labels = kmeans.labels_
centers = kmeans.cluster_centers_

In [10]:
import pandas as pd
df_cluster=pd.DataFrame({'Actual':target,'Cluster':labels})
# Create a cross-tabulation
cross_tab = pd.crosstab(df_cluster['Actual'], df_cluster['Cluster'])

print(cross_tab)

Cluster      0   1   2
Actual
Setosa      50   0   0
Versicolor   0  47   3
Virginica    0  14  36